In [15]:
import numpy as np
import pandas as pd
from collections import Counter
from scipy.spatial.distance import euclidean
dt = pd.read_csv('ucicancer.csv')

In [16]:
dt.head()

   Unnamed: 0        a  b   c   d  e  f   g  h  i  j  class
0           0  1002945  5   4   4  5  7  10  3  2  1      2
1           1  1015425  3   1   1  1  2   2  3  1  1      2
2           2  1016277  6   8   8  1  3   4  3  7  1      2
3           3  1017023  4   1   1  3  2   1  3  1  1      2
4           4  1017122  8  10  10  8  7  10  9  7  1      4

In [17]:
dt.drop('Unnamed: 0',axis=1,inplace=True)

In [18]:
dt.head()

         a  b   c   d  e  f   g  h  i  j  class
0  1002945  5   4   4  5  7  10  3  2  1      2
1  1015425  3   1   1  1  2   2  3  1  1      2
2  1016277  6   8   8  1  3   4  3  7  1      2
3  1017023  4   1   1  3  2   1  3  1  1      2
4  1017122  8  10  10  8  7  10  9  7  1      4

In [19]:
dt.dropna().shape,dt.shape

((698, 11), (698, 11))

In [20]:
dt.dtypes

a         int64
b         int64
c         int64
d         int64
e         int64
f         int64
g        object
h         int64
i         int64
j         int64
class     int64
dtype: object

In [21]:
dt['g'].describe()

count     698
unique     11
top         1
freq      401
Name: g, dtype: object

In [22]:
dt['g'].unique()

array(['10', '2', '4', '1', '3', '9', '7', '?', '5', '8', '6'],
      dtype=object)

In [23]:
dt=dt.replace('?',15)

In [24]:
dt['g'] = dt['g'].astype(dtype='i')

In [25]:
dt.dtypes

a        int64
b        int64
c        int64
d        int64
e        int64
f        int64
g        int32
h        int64
i        int64
j        int64
class    int64
dtype: object

In [26]:
x = dt.drop(['a','class'],axis=1)
y = dt['class']

In [27]:
from sklearn.model_selection import train_test_split
x_tr,x_ts,y_tr,y_ts = train_test_split(x,y,test_size=0.2)
x_tr.shape,y_tr.shape,x_ts.shape,y_ts.shape

((558, 9), (558,), (140, 9), (140,))

In [28]:
from sklearn.neighbors import KNeighborsClassifier
algo = KNeighborsClassifier()
algo.fit(x_tr,y_tr)
algo.score(x_ts,y_ts)

0.9571428571428572

In [29]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_ts,algo.predict(x_ts))

array([[77,  4],
       [ 2, 57]], dtype=int64)